.header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100px; /* Set a fixed height for the header */
}

.header img {
    max-height: 100%; /* Make sure the logo fits within the header's height */
}


.search {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Add some spacing */
}

.search input,
.search button {
    margin: 0 10px; /* Add spacing between the input and button */
}


.client-details {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 200px; /* Set a fixed height for the client details section */
    margin-top: 20px; /* Add some spacing */
}


.dropdown {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    padding: 5px;
    cursor: pointer;
}














